version: "2"
services:
  dev:
    build: .
    image: keboola/ex-aws-s3
    tty: true
    stdin_open: true
    volumes:
      - ./:/code
    environment:
      - AWS_S3_BUCKET
      - AWS_REGION
      - UPLOAD_USER_AWS_ACCESS_KEY
      - UPLOAD_USER_AWS_SECRET_KEY
      - DOWNLOAD_USER_AWS_ACCESS_KEY
      - DOWNLOAD_USER_AWS_SECRET_KEY

  code-coverage:
    build:
      context: .
      dockerfile: ./docker/dockerfile/code-coverage
    image: keboola/ex-aws-s3-code-coverage
    command: >
             sh -c '
             ./code-coverage.sh
             '
    volumes:
      - ./:/code
    environment:
      - AWS_S3_BUCKET
      - AWS_REGION
      - DOWNLOAD_USER_AWS_ACCESS_KEY
      - DOWNLOAD_USER_AWS_SECRET_KEY
      - CODECLIMATE_REPO_TOKEN
