parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - '#Method Keboola\\S3Extractor\\Config::([a-zA-Z]+)\(\) should return (string|int|bool) but returns mixed\.#'